.sortable li {
    width: auto;
}

.sortable li > .item {
    border: 1px solid #cccccc;
    padding: 2px 5px;
    display: inline-block;
    margin: 2px 0;
}

.sortable li > .title {
    cursor: pointer;
}

.sortable li > .info {
    color: #777777;
    font-size: 12px;
    margin-right: 5px;
}

.ui-sortable-helper {
    background-color: #eeeeee;
}