body {
    font-family: Arial, sans-serif;
    background-color: #fcfcfc;
}
a {
    color: #005299;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: #999999;
}
.mnone, i.icon.mnone, .ui.button>.icon.mnone {
    margin: 0;
}

select {
    margin: 0em;
    padding: 0.85em 1.2em;
    font-size: 0.875em;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    outline: none;
    color: rgba(0, 0, 0, 0.7);
    border-radius: 0.3125em;
}
select option {
    padding: 0.85em 1.2em;
}

textarea {
    font-family: Arial, sans-serif;
}

.field .description {
    margin-top: 0.3em;
    color: #999999;
    font-size: 13px;
}

#cat-collection > .ui.button {
    text-transform: none;
}

#categories-list {
    position: absolute;
    background: white;
    border: 1px solid #CCCCCC;
    padding: 5px 10px;
    width: 200px;
    display: none;
    z-index: 100;
}
#categories-list > .remove {
    float: right;
    cursor: pointer;
    margin-right: -5px;

}
#categories-list a {
    color: #666666;
    line-height: 18px;
}
#categories-list ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
}
#categories-list ul ul {
    margin-top: 0px;
    padding-left: 20px;
}
#categories-list ul > li {
    font-size: 13px;
    line-height: 13px;
}

.ui.form textarea, .ui.textarea {
    height: 4em;
}